/* Breakpoints */

$mq-small: "only screen and (min-width:380px)";
$mq-small-width: 380px;

$mq-phone-landscape: "only screen and (min-width:550px)";
$mq-phone-landscape-width: 550px;

$mq-medium: "only screen and (min-width:768px)";
$mq-medium-width: 768px;

$mq-large: "only screen and (min-width:980px)";
$mq-large-width: 980px;

$mq-ipad-landscape: "only screen and (min-width:1024px)";
$mq-ipad-landscape-width: 1024px;

$mq-xlarge: "only screen and (min-width:1170px)";
$mq-xlarge-width: 1170px;

$mq-monitor: "only screen and (min-width:1400px)";
$mq-monitor-width: 1400px;

// To use... @media #{variable}

/* Colors */
$neutral: #808080;
$darkNeutral: #808081;

$primary: #e2e2e2; //Primary Brand Color
$lightPrimary:#fff6d7;
$darkPrimary:#000;

$secondary: #949599; //Brand Secondary
$lightSecondary:#d9d9d9;
$darkSecondary:#000;

$body-font-color: #000;

/* fonts */
$body-font:'SS-Regular', Arial, sans-serif;
$heading-font:'SS-SemiBold', Arial, sans-serif;
$light-font:'SS-Light', Arial, sans-serif;

/*font-sizes*/
$font-size-xsmall:12px;
$font-size-small:14px;
$font-size-medium:18px;
$font-size-large:24px;
$font-size-xlarge:36px;

$font-size-button:18px;
