
.home-content__outer-wrapper {
    position: relative;
    height: 100vh;
}

.home-slider__inner-wrapper {
    @include centerer;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    width: calc(100% - 70px);
    z-index: 990;
}

.home-text-overlay {
    @include centerer;
    z-index: 999;
    width: calc(100% + 50px);

    @media #{$mq-large} {
        max-width: 1010px;
    }

    svg {
        max-width:100%;
        display: block;
    }
}

.home-slider {
    visibility: hidden;
    z-index: 500;
}

.slick-slide {
    height: 50vh!important;

    @media #{$mq-large} {
        height: 700px!important;  //height of the tallest slide
    }

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%); 
    }
}

.i-button-wrapper {
    @extend .clearfix;
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
    width: 36px;
	margin:30px auto 0 auto;
	
	@media #{$mq-medium} {
		position: relative;
		bottom: 0px;
    }
}