
.information {
	position: relative; 
	z-index: 1;
	@include box-sizing;
    @extend .clearfix;
	width: 100%;
	height: 100vh;
    max-width: 1040px;
	margin: 0 auto;
	display: table; 
}

.information-centerer {
    @include box-sizing;
    @extend .clearfix;
	width: 100%;
	height:100vh;
	vertical-align: middle;
	display: table-cell;
}

.information-container {
    position: relative;
	margin:auto;
	height: 100vh;
	box-sizing: border-box;

	@media #{$mq-medium} {
		padding-top: 40px;
	}

	@media #{$mq-large} {
		width: 930px;
	}
}

.info-flex-container {
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: $light-font;
	padding: 0 20px;
	line-height: 1.85em;

	@media #{$mq-large} {
		padding-top: 0;
		line-height: 1.85em;
	}
	
	h2 {
		font-size: 1em;
		line-height: 1em;
		font-family: $heading-font;
		padding-bottom: 4px;
		margin-bottom: 10px;
		border-bottom: 2.5px solid #000;
		color: #000;
		text-transform: uppercase;
		display: inline-block;
	}

	.info-headings {
		text-align: right;
		flex-basis: 100%;
		order: 2;
	
		@media #{$mq-medium} {
			flex-basis: 25%;
			order: 1;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		li {
			font-size: .95em;
			line-height: 1em;
			margin-bottom: .85em;
		}
	}
	
	.info-description {
		flex-basis: 100%;
		order: 1;
	
		@media #{$mq-medium} {
			flex-basis: 70%;
			order: 2;
		}

		@media #{$mq-large} {
			flex-basis: 68%;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		p {
			letter-spacing: .015em;
			font-size: 1.1em;
	
			&:first-of-type {
				margin-top: 0px;
			}
		}
	}
}

.info-flex-container--lower {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: $light-font;
	padding-top: 0;
	
	h2 {
		font-size: 1em;
		line-height: 1em;
		font-family: $heading-font;
		padding-bottom: 4px;
		margin-bottom: 10px;
		border-bottom: 2.5px solid #000;
		color: #000;
		text-transform: uppercase;
	}

	h2.potential-projects {
		text-transform: none;
		margin-bottom: 12px;
		width: auto;

		@media #{$mq-medium} {
			margin-top:15px;
		}

	}

	.info-headings {
		text-align: right;
		flex-basis: 100%;
		order: 1;
	
		@media #{$mq-medium} {
			flex-basis: 25%;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		li {
			font-size: .95em;
			line-height: 1em;
			margin-bottom: .85em;
		
		}
	}
	
	.info-description {
		flex-basis: 100%;
		order: 2;
		text-align: right;
	
		@media #{$mq-medium} {
			flex-basis: 70%;
			text-align: left;
		}

		@media #{$mq-large} {
			flex-basis: 68%;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		li {
			letter-spacing: .025em;
			font-size: 1.15em;
			line-height: 1.25em;
			margin-bottom: 15px;
		}
	
		p {
			letter-spacing: .025em;
			font-size: 1.15em;
	
			&:first-of-type {
				margin-top: -5px;
			}
		}
	}
}