
.information {
	position: relative; 
	z-index: 1;
	@media #{$mq-medium} {
		@include centerer
	}
}

.information-wrapper {
    @include box-sizing;
    @extend .clearfix;
    width: 100%;
	padding: $wrapper-padding;
	padding-top: 8vh;
    max-width: $wrapper-width;
	margin: 0 auto;
	height:100%;

	@media #{$mq-medium} {
		height: auto;
		padding-top: 0px;
	}
}

.info-flex-container {
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: $light-font;
	
	h2 {
		font-size: 1em;
		line-height: 1em;
		font-family: $heading-font;
		padding-bottom: 4px;
		margin-bottom: 8px;
		border-bottom: 2.5px solid #000;
		color: #000;
		text-transform: uppercase;
		display: inline-block;
	}

	.info-headings {
		text-align: right;
		flex-basis: 100%;
		order: 2;
	
		@media #{$mq-medium} {
			flex-basis: 25%;
			order: 1;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		li {
			font-size: .95em;
			line-height: 1.75em;
		}
	}
	
	.info-description {
		flex-basis: 100%;
		order: 1;
	
		@media #{$mq-medium} {
			flex-basis: 70%;
			order: 2;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		p {
			letter-spacing: .015em;
			font-size: 1.1em;
	
			&:first-of-type {
				margin-top: 0px;
			}
		}
	}
}

.info-flex-container--lower {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: $light-font;
	
	h2 {
		font-size: 1em;
		line-height: 1em;
		font-family: $heading-font;
		padding-bottom: 4px;
		margin-bottom: 8px;
		border-bottom: 2.5px solid #000;
		color: #000;
		text-transform: uppercase;
	}

	h2.potential-projects {
		text-transform: none;
		margin-bottom: 12px;

		@media #{$mq-medium} {
			margin-top:15px;
		}

	}

	.info-headings {
		text-align: right;
		flex-basis: 100%;
		order: 1;
	
		@media #{$mq-medium} {
			flex-basis: 25%;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		li {
			font-size: .95em;
			line-height: 1.75em;
		}
	}
	
	.info-description {
		flex-basis: 100%;
		order: 2;
		text-align: right;
	
		@media #{$mq-medium} {
			flex-basis: 70%;
			text-align: left;
		}
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}
	
		li {
			letter-spacing: .025em;
			font-size: 1.15em;
			line-height: 1.25em;
			margin-bottom: 15px;
		}
	
		p {
			letter-spacing: .025em;
			font-size: 1.15em;
	
			&:first-of-type {
				margin-top: -5px;
			}
		}
	}
}

//Animated Text
.branding-text-watermark--mobile {
	width: calc(100% - 40px);
	position: absolute;
	top:8vh;

	@media #{$mq-medium} {
		display: none;
	}

	svg {
		z-index: -2;
		width:100%;
		position: relative;
		left: 3vw;
		margin-bottom: 5vh;
	}

	.branding-text-watermark--mobile__untitled, .branding-text-watermark--mobile__creative, .branding-text-watermark--mobile__studio {
		opacity: 0;
	}
}

//Animated Text
.branding-text-watermark--desktop {
    @include centerer;
    z-index: -1;
	width: calc(100% - 40px);
	display: none;
	max-width: 960px;

    @media #{$mq-medium} {
		top: calc(50% - 1.5vh);
		display: block;
	}
	
	@media #{$mq-large} {
		top: calc(50% - 1.5vh);
	}

    svg {
        max-width:100%;
        display: block;
        margin: 0 auto;

        @media #{$mq-medium} {
            margin-bottom:3.5vh;
        }
    }
}

.branding-text-watermark--desktop__untitled, .branding-text-watermark--desktop__creative, .branding-text-watermark--desktop__studio {
	opacity: 0;
}